server:
  port: 8088

spring:
  datasource:
    url: jdbc:mysql://172.16.0.55:3306/landing_db?useSSL=false&serverTimezone=UTC
    username: landing
    password: landing123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    generate-ddl: true

  sql:
    init:
      mode: never
  mail:
    host: smtp.gmail.com
    port: 587
    username: landingmn719@gmail.com
    password: ckbbunpknzaoeftt
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

