name: Deploy Landing Backend

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          cd D:/opt/project/landing-service
          docker compose down
          docker compose up -d --build
